extends layout

block content
  h1= title
  table.table.table-hover
    thead
      tr
        th Response
        th Received at
        th PingBack Server
    each ping in pings
      tr
        td= ping.response
        td= new Date(ping.timestamp)
        td= ping.pingBack

